<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>Forgot Password</h1>

        <div class="form">

            <div class="form-group">
                <label>Student ID :</label>
                <input type="text" id="student_id">
            </div>

            <button id="sendOtpBtn">Send OTP</button>

            <p id="message"></p>

            <div class="forgot" style="margin-top:20px;">
                <a href="/">Back to Login</a>
            </div>

        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/forgot.js') }}"></script>

</body>
</html>
