<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>Reset Password</h1>

        <div class="form">

            <div class="form-group">
                <label>Student ID :</label>
                <input type="text" id="student_id">
            </div>

            <div class="form-group">
                <label>OTP :</label>
                <input type="text" id="otp">
            </div>

            <div class="form-group">
                <label>New Password :</label>
                <input type="password" id="new_password">
            </div>

            <button id="resetBtn">Reset Password</button>

            <button id="resendBtn">Resend OTP</button>


            <p id="message"></p>

        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/reset.js') }}"></script>

</body>
</html>
    